body{
    margin: 0px;
    background-color: #A4B3B6;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1{
    text-align: center;
    color: #2A1B3D;
}


.options{
    margin: 10px;
    min-width: 15%;
    padding-left: 1%;
    padding-right: 1%;
    word-wrap: break-spaces;
    color: #2A1B3D;
    font-color: #f1fff1;
    border-radius: 2px;

}


.options:hover{
    background-color: #8E8D8A;
    color: white;
}

.final{
    margin: 10px;
    padding: 2%;
    color: #2A1B3D;
    font-color: #f1fff1;
}

#myDIV{
    display: none;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    background-color: #C1C8E4;
    border-radius: 8px;
    padding: 2%;
    box-shadow: 2px 2px 8px rgba(#2A1B3D, .3);

}


table{
    margin: 10px auto;
    width: 100%;
    padding: 1%;
}

textarea {
    display: block;
    box-sizing: padding-box;
	min-height: 20em;
	max-height: 75vh;
    padding: 10px;
    margin: 10px auto;
    width: 100%;
    outline-color: #D83F87;
    border: 1px;
    box-shadow: 2px 2px 8px rgba(#8E8D8A, .3);
}
